@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    /* variables */
    --color-pink: #F786AA;
    --color-yellow: #EA9010;
    --color-green: #04A777;
    --color-blue: #007991;

    /* use sans-serif font */
    font-family: Inter, Arial, Helvetica, sans-serif;
    /* disable scrollbars on overflow */
    overflow: hidden;
}

/* fullscreen svg */
html, body, #vizContainer > svg {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* individual course nodes */
.course {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    stroke-width: 3;
}

/* link between prereq and course */
.link {
    stroke-width: 3;
}

.prereqLink:not(:last-child)::after {
    content: ", ";
}

.link.corequisite {
    stroke-dasharray: 3,3;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#vizContainer {
    flex-grow: 1;
    background-color: #efefef;
}

#sidebar {
    width: 500px;
    padding: 10px;
}

/* hide help bar */
#help.hidden {
    display: none;
}

.course.selected > circle {
    stroke: var(--color-blue);
    stroke-width: 5;
}

.course > circle {
    stroke: black;
    fill: var(--color-green);
}

.course.core > circle {
    fill: var(--color-pink);
}
.course.multiCore > circle {
    fill: var(--color-yellow);
}
